= content_for :title do
  Work spaces

.container
  .row
    .spaces-wrapper
      - if policy(:space).create?
        .col-xs-3
          .space-form
            = render partial: 'spaces/new', locals: { space: Space.new }
      .spaces
        = render partial: 'spaces/space', collection: @spaces

