/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";

@import "mixins";

body {
    background: #fff;
    padding:40px 0 0;
    border-top:3px solid #ddd;
}

p {
    text-shadow:#fff 0 1px 0;
}

body, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

a:link, a:visited {
    color:#338bb8;
    text-decoration:none;
}

a:hover {
    color:#3799ca;
    text-decoration:underline;
}

.btn-default {
    color: #444 !important;
    font-weight: bold;
    text-decoration: none;
}

.btn-danger, .btn-success, .btn-primary {
    color: #fff !important;
    text-shadow: none !important;
}

h2 {
    text-align:center;
    font-size:48px;
    line-height:56px;
    margin:15px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
}

h2 strong {
    font-weight:700;
}

h3 {
    text-align:center;
    font-size:32px;
    line-height:40px;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    margin:0 0 15px;
}

h4 {
    font-family:'Open Sans', sans-serif;
    font-weight:600;
    font-size:16px;

}

.subheader {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:600;
    color:#aaa;
}


.table {
    background:#fff;

}

.table tbody tr:hover td {
    background:#fff;
}

form h4 {
    margin-bottom:15px;
}

.center {
    text-align:center;
}

.right {
    text-align:right;
}

.graded {
    min-height:40px;
    padding-bottom:100px;
}

.drop-shadow {
    position:relative;
}


/** NAV **/

.not-signed-in {
    .navbar-header {
        display: none;
    }
}

nav .navbar-brand {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:700;
    font-size:32px;
    line-height: 40px;
    padding:0;
    margin-left:0;
    color: #999999;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}


.navbar .nav {
    padding-top: 10px;
}

.navbar .nav li {
    margin-left:15px;

    ul.dropdown-menu {

        li { margin-left: 0 !important; }
    }
}

.navbar .nav li a.btn-avatar {
    padding: 1px 6px 1px 1px !important;

    &:hover {
        background-color: unset !important;
    }
}

.navbar .nav li.open a.btn-avatar {
    padding: 1px 6px 1px 1px !important;

    -webkit-border-bottom-left-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    border-bottom: 0 !important;
}


.navbar .nav li a.btn-xos, .navbar .nav li a.btn-avatar {
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size: 14px;
    padding:6px 18px;
    color:#888;
    text-shadow:none;
    -webkit-border-radius:16px;
    border-radius:16px;
    background:#fff;
    border:1px solid #ddd;
    border-color:#ddd #d0d0d0 #bbb;
    text-align:center;
    min-width:60px;
}

.navbar .nav .active a.btn-xos {
    -webkit-border-radius:16px;
    border-radius:16px;
    background:#4fb6e9;
    border:1px solid #ddd;
    border-color:#3ca3d7 #3799ca #338bb8;
    color:#fff;
    text-shadow:none;
    background-image: linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -o-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -moz-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -webkit-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -ms-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);

    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgb(146,219,255)),
            color-stop(0.05, rgb(79,182,233)),
            color-stop(1, rgb(57,160,211))
    );
    text-shadow:#3799ca 0 -1px 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 1px;
}


.navbar .nav li a.btn-xos:hover {
    color:#3799ca;
    background-image: linear-gradient(top, rgb(255,255,255) 0%, rgb(250,250,250) 5%, rgb(244,244,244) 100%);
    background-image: -o-linear-gradient(top, rgb(255,255,255) 0%, rgb(250,250,250) 5%, rgb(244,244,244) 100%);
    background-image: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(250,250,250) 5%, rgb(244,244,244) 100%);
    background-image: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(250,250,250) 5%, rgb(244,244,244) 100%);
    background-image: -ms-linear-gradient(top, rgb(255,255,255) 0%, rgb(250,250,250) 5%, rgb(244,244,244) 100%);

    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgb(255,255,255)),
            color-stop(0.05, rgb(250,250,250)),
            color-stop(1, rgb(244,244,244))
    );
    box-shadow:rgba(0,0,0,0.1) 0 1px 3px;
    text-shadow:#fff 0 0 2px;
}


.navbar .nav .active a.btn-xos:hover {
    background:#3ca3d7;
    color:#fff;
    text-shadow:#3799ca 0 -1px 0;
    box-shadow:none;
}

.navbar-toggle {
    margin-right: 0;
}

.navbar-toggle.collapsed .icon-bar {
    background: #3799ca;
    transition: all 0.3s;
}

.navbar-toggle .icon-bar {
    background: #aaa;
    transition: all 0.3s;
}


/** FEATURE ***/

.feature {
    margin-top:60px;
    margin-bottom:60px;
    text-align:center;
}

.feature img {
    margin:30px auto 0;
    text-align:center;
}

.box h3 {
    font-family:'Open Sans', sans-serif;
    font-weight:600;
    font-size:24px;
    margin-bottom:15px;
    text-align:left;
}


.box {
    background:#fff;
    box-shadow:none;
    border:1px solid #ddd;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:60px 0;
    margin-top:15px;
    margin-bottom:60px;
}

.box .row + .row {
    margin-top:30px;
}

.box .span6 + .span4 img {
    float:right;
}

.quotes {
    margin-top:30px;
    margin-bottom:60px;
}

.thumbnails {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:30px;
}

.thumbnail {
    background:#fff;
}

.thumbnail span {
    display:block;
    padding:5px;
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-weight:600;
    font-size:15px;
}

.image-right {
    margin: 0 0 0 auto;
}

.img-responsive {
    max-width: none !important;
}

/*** PRICING ****/

.pricing {
    padding-top:38px;
    margin-bottom:30px;
}

.pricing .well {
    background:#fff;
    box-shadow:none;
    border:1px solid #ddd;
}

.pricing .well.highlighted {
    box-shadow:rgba(0,0,0,0.2) 0 0 10px;
    margin-top:-19px;
    padding-top:38px;
    padding-bottom:38px;
    border: 1px solid #777;
}

.pricing .well ul {
    margin: 0;
    padding: 0;
    margin-left:0;
}

.pricing .well ul li {
    list-style:none;
    text-align:center;
    padding:8px 0;
    border-bottom:1px solid #eee;

}

.pricing .well h4 {
    text-align:center;
}

.pricing .spot {
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    font-size:14px;
    -webkit-border-radius:64px;
    border-radius:64px;
    background:#71be42;
    border:1px solid #ddd;
    border-color:#7dca4f #71be42 #63a73a;
    color:#fff;
    text-shadow:none;

    background-image: -o-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
    background-image: -moz-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
    background-image: -webkit-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
    background-image: -ms-linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgb(188,255,146)),
            color-stop(0.05, rgb(144,231,91)),
            color-stop(1, rgb(124,202,79))
    );
    background-image: linear-gradient(top, rgb(188,255,146) 0%, rgb(144,231,91) 5%, rgb(124,202,79) 100%);
    text-shadow:#63a73a 0 -1px 0;
    box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
    position:absolute;
    height:64px;
    padding:16px 0;
    line-height:16px;
    width:64px;
    text-align:center;
    margin-top:-35px;
    margin-left:-16px;
}

/*** FOOTER ****/

.signup {
    display:inline-block;
    font-family:'Open Sans', sans-serif;
    font-size:24px;
    font-weight:400;
    padding:15px 30px;
    -webkit-border-radius:32px;
    border-radius:32px;
    background:#4fb6e9;
    border:1px solid #ddd;
    border-color:#3ca3d7 #3799ca #338bb8;
    color:#fff;
    text-shadow:none;
    background-image: linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -o-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -moz-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -webkit-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);
    background-image: -ms-linear-gradient(top, rgb(146,219,255) 0%, rgb(79,182,233) 5%, rgb(57,160,211) 100%);

    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgb(146,219,255)),
            color-stop(0.05, rgb(79,182,233)),
            color-stop(1, rgb(57,160,211))
    );
    text-shadow:#3799ca 0 -1px 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 1px;

}

.signup:link, .signup:visited {
    color:#fff;
}

.signup:hover {
    background:#3ca3d7;
    box-shadow:none;
    color:#fff;
    text-decoration:none;
}

.signup.small {
    font-size:14px;
    padding: 5px 10px;
    border-radius: 4px;
    vertical-align: bottom;
}

footer {
    margin-bottom:30px;
}

footer, footer p {
    font-size: 14px;
}

footer .links {
    list-style:none;
    margin-left:0;
    padding: 0;
}

footer .links li {
    float:left;
    margin-right:15px;
    line-height:34px;
    height:34px;
}

footer form .input-group {
    margin-top: 5px;
}

footer form .signup {
    margin-top: 5px;
}


/*** MEDIA QUERIES ****/

@media (min-width: 768px) {
    .thumbnail span {
        height: 31px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 767px) {

    body {
        padding: 10px 10px 0;
    }

    nav.navbar {
        margin-bottom: 0;
    }

    nav .navbar-brand {
        padding-left: 15px;
    }

    .navbar .nav {
        padding-top: 0;
    }

    .navbar .nav li {
        float:none;
        margin:0 0 1px;
    }

    .navbar .nav li a {
        border-radius: 0;
        text-align: left;
        padding-left: 13px;
        border: none;

    }

    .navbar .nav li.active a {
        border-radius: 0;
        padding-left: 13px;
    }

    .pricing .well.highlighted {
        margin-top:0;

    }

    .pricing .spot {
        margin-left:15px;
        margin-top:-15px;
    }

    .box {
        padding:15px;
    }

    .image-right {
        margin: 0;
    }

    .thumbnail span {
        font-size: 14px;
    }


    footer .links li {
        margin-top: 15px;
    }

}

@media (max-width: 480px) {


    body {
        padding: 10px 0 0;
    }

    h2 {
        font-size:32px;
        line-height:36px;
    }

    h3 {
        font-size:26px;
        line-height:30px;
    }

    .pricing {
        padding-top:0;
        margin-top:30px;
    }

    .image-right {
        margin: 0;
    }

    .box img {
        margin-bottom: 15px;
    }

    footer.container {
        padding: 0 30px;
    }


}

#error_explanation {
    h2 { display: none }
}

.margin-center {
    margin: 0 auto !important;
    float: none !important;
}

/* buttons */

.btn-round {
    border-radius: 26px !important;
}

.btn-success {
    &.btn-grad {
        background: #86bd53;
        background-image: -webkit-linear-gradient(top, #86bd53, #56a640);
        background-image: -moz-linear-gradient(top, #86bd53, #56a640);
        background-image: -ms-linear-gradient(top, #86bd53, #56a640);
        background-image: -o-linear-gradient(top, #86bd53, #56a640);
        background-image: linear-gradient(to bottom, #86bd53, #56a640);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        padding: 8px 14px;
        text-decoration: none;
        color: #fff;
        font-family: "Open Sans",sans-serif;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            background: #4d9615 !important;
            text-decoration: none;
        }
    }
}